<section class="bg-cover bg-center">
    <div class="adv-banner">
        <h2>{{component.banner_title}}<h2>
        <video autoplay loop muted plays-inline class="bg-auto lg:bg-contain">
            <source src="{{component.banner_video_url}}" type="video/mp4"></source>
        </video>
    
    </div>
</section>