<section class="s-block s-block--defult-home-slider s-block--full-bg">
    <div>
        <h2>{{component.banner_title}}<h2>
        <iframe class="w-full aspect-video md:aspect-square" src="{{component.banner_video_url}}"></iframe>
    </div>
</section>